<div class="menu_section">
  <h3>General</h3>
  <ul class="nav side-menu">
    <li>
      <a [routerLink]="['users']"><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a [routerLink]="['users']"><i class="fa fa-users"></i> Users</a>
    </li>
    <li>
      <a [routerLink]="['tasks']"><i class="fa fa-edit"></i> Tasks</a>
    </li>
    <li>
      <a [routerLink]="['sprints']"><i class="fa fa-table"></i> Sprints</a>
    </li>
  </ul>
</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div>
<!-- /menu footer buttons -->
